.banner {
    height: 400px;
    color: white;
    object-fit: contain;
    background-size: cover;
    background-position: center;
    padding: 60px 30px;
}

.banner-content {
    width: 45%;
    margin-top: 50px;
}

.banner h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.banner p {
    line-height: 1.3;
    max-height: 120px;
    overflow: hidden;
}