.movie-detail {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 25px 40px;
    margin: 15px 20px 50px;
    background: #111;
    border-radius: 6px;
    color: white;
}

/* LEFT PANEL */
.detail-left {
    width: 50%;
}

.detail-left h2 {
    margin-bottom: 10px;
}

.detail-left p {
    margin: 10px 0;
}

.overview {
    margin-top: 10px;
}

/* RIGHT PANEL */
.detail-right {
    width: 50%;
}

.detail-backdrop {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
}