.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.logo {
    color: red;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
}

.search-icon svg {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    transition: 0.2s ease;
    margin-right: 8rem;
    margin-top: 3rem;
}

.search-icon svg:hover {
    fill: white;
}

.navbar_black {
    background-color: black;
}